<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <title><%= content_for?(:title) ? yield(:title) : "Loja de Livros Renata e Gaby" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>

  <body>

<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  </head>
  <body>

    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li><a href="http://localhost:3000/items"><img src="  https://3.bp.blogspot.com/-AzYeOgqcDAc/V3RWbpphjYI/AAAAAAAABOk/xJVmLL_Vib8dcJ-YWQyFtvXbjMFFaBa-wCLcB/s1600/Logo-Loja.jpeg"></a></li>
          <li><a href="https://gitlab.com/gabygama_22/EP3OO_Teste">GitLab</a></li>
          <li><a href="#">YouTube</a></li>
        </ul>
      </div>

      <div class="top-bar-right">
        <ul class="menu">

        <!-- adaptado -->
<%if signed_in?%>
          <!-- My cart -->
           <li>
            <%= link_to cart_path, class:"button" do%>
              Meus Livros
              (<span class="cart-count"><%=current_user.cart_count%></span>)
            <%end%>
          </li>
          <li><%=link_to current_user.email, edit_user_registration_path, class: "button"%></li>
          <li><%=link_to "Sair", destroy_user_session_path, method: :delete, class: "button"%></li>
        <%else%>
          <li><%=link_to "Entrar", new_user_session_path, class: "button"%></li>
        <li><%=link_to "Crie uma conta", new_user_registration_path, class: "button"%></li>
        <li><%=link_to "Admin", href="http://localhost:3000/admin/login", class: "button"%></li>
        <%end%>
      <!-- fim de My Cart -->

        </ul>
      </div>
    </div>
    <!-- End Top Bar -->

  <%= yield %>

    <div class="callout secondary">
      <div class="row">
        <div class="large-4 columns">
          <h5>Loja Virtual de Livros</h5>
          <p>Projeto da disciplina Orientação a Objetos 1/2016 desenvolvido por Gabriela e Renata.</p>
          <p>UnB - FGA</p>
        </div>
        <div class="large-3 large-offset-2 columns">
          <ul class="menu vertical">
          </ul>
        </div>
        <div class="large-3 columns">
          <ul class="menu vertical">
            <li><a href="https://gitlab.com/gabygama_22/EP3OO_Teste">GitLab</a></li>
            <li><a href="#">YouTube</a></li>
          </ul>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>

    <script>
      $(document).foundation();
      <%= javascript_include_tag "application" %>
    </script>

</html>

  </body>
</html>
